:root {
    --primary: #128c7e;
    --main-bg: #ffffff;
    --text: #F0F4F9;
    --shadow: #343536;
    --footer:#1c1e21;
    --home:#25d366;
}

* {
    text-align: center;
    margin: 0;
    color:var(--text); 
    text-decoration: none;
}

body {
    background-color:var(--footer);
    text-align: center;
    color:var(--text);
  }

.header-container {
    display: flex;
    background-color: var(--main-bg);
    align-items:center;
    justify-content: space-around;
    padding: 15px;
}

.header-title h2, .header-title p {
    color:var(--shadow)
}

.btn-home {
    font-size: 1.3em;
    color: var(--text);
    cursor: pointer;
    width: 100px;
    height: 40px;
    padding: 5px;
    background-color:var(--home);
    border:1px solid var(--shadow);
    border-radius: 50px;
    transition: background-color 1s ease-out;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -ms-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
}

.btn-home:hover {
    background-color:var(--footer);
}   

main {
    margin: 0px;
    height: 70vh;
    padding: 10px;
    background-color: var(--main-bg);
}

.chat-area {
    display: inline-block;
    align-items: center;
    padding-top: 6%;    
}

input, textarea, select, option, label {
    padding: 10px 20px;
    text-align: left;
    color:var(--shadow);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#phone-area {
    width: 30%;
}

.phone-number {
    align-items: center;
}

.phone-number, .text-message {
    display: inline-flex;
    width:70%;  
    text-align: left;
}

.row-25 {
    width: 25%;
    text-align: left;
}

.row-75 {
    width: 75%;
    text-align: left;
    margin-bottom: 10px;
}

#message, #phone {
    text-align: left;
}

.btn button {
    font-size: 1.3em;
    color: var(--text);
    cursor: pointer;
    width: 200px;
    height: 40px;
    padding: 5px;
    background-color:var(--primary);
    border:none;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: opacity 1s ease-out;
    -webkit-transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -ms-transition: opacity 1s ease-out;
    -o-transition: opacity 1s ease-out;
}
.btn button:hover {
opacity: 0.7;
}

footer {
    margin-top: 2%; 
    width: 100%;
    display: inline-block;
    align-items: center;
    justify-content: space-evenly;
}

footer a {
    text-decoration: none;
}

.footer-logo {
    margin-bottom: 25px;
}